<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <script src="https://kit.fontawesome.com/34df017af4.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
           My Contacts
        </h1>
        <ul>
            <% for (let i of contact_list) {%>
                <li>
                    <div class="details">
                        <i class="fas fa-user"></i>
                        <%= i.name %> <%=':'%> <%= i.phone %>
                        <a href="/delete-contact/?id=<%= i._id %>">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </li>
            <%}%>
        </ul>
        <form action="/create-contact" method="post">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="number" name="phone" placeholder="Enter Phone Number" required>

            <button type="submit">Add Contact!</button>
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>